<% if !@order_line.nil? && @order_line.errors.any? %>
	<div class="alert alert-danger">
		<ul>
			<% @order_line.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>


<% unless @order_lines.present? %>
	<p class="text-center">
		There are no items in your shopping cart. Please <%= link_to "go back", store_products_path %> and add some items in your cart.
	</p>
<% else %>
	<% @order_lines.each do |order_line| %>
		<%= render 'carts/cart_row', product: order_line.product, order_line: order_line, show_total: true %>
	<% end %>
<% end %>

<div class="row">
	<div class="col-md-3 col-md-offset-6">
		<h1>Total: $<%= current_order.subtotal %></h1>
	</div>
	<div class="col-md-2" >
		<h1><%= link_to "Checkout", new_store_charge_path, class: "btn btn-success" %></h1>
	</div>
</div>