<div class="container">
       <h2 class="js-products-count"><%= @products.count %> products </h2>
</div>

<div class="container-fluid">
        <table>
            <thead>
                <tr>
                    <th class="list-title">Item Name</th>
                    <th class="list-title">Description</th>
                    <th class="list-title">Image URL</th>
                    <th class="list-title">Price</th>
                    <th class="list-title">SKU</th>
                    <th class="list-title">Product Details</th>
                    <th class="list-title">Edit Product</th>
                    <th class="list-title">Delete Product</th>
                </tr>
            </thead>

            <tbody class="list-item">
                <% @products.each do |product| %>
                <tr id="product_<%= product.id %>">
                    <td><%= product.title %></td>
                    <td><%= product.description %></td>
                    <td>DISPLAY IMG</td>
                    <td><%= product.price %></td>
                    <td><%= product.sku %></td>
                    <td><%= link_to 'Show', dashboard_store_product_path(@store.id, product.id) %></td>
                    <td><%= link_to 'Edit', edit_dashboard_store_product_path(@store.id, product.id) %></td>
                    <td><%= link_to 'Delete', dashboard_store_product_path(@store.id, product.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>

<div class="container">
    <%= link_to "Add New Product", new_dashboard_store_product_path(@store.id, @product), class: "btn btn-success"%>
</div>

    
</div>


