
<div class="container">
	<div class="col-md-4">
		<h2><%= @product.title %></h2>
	</div>
	<div class="col-md-8">
		<h4><%= @product.description %></h4>
		<h6>$<%= @product.price %></h6>
        <%= button_to 'Edit Product', edit_dashboard_store_product_path(product_id: @product), class: 'btn btn-success', remote: true %>
        <%= button_to 'Delete Product', dashboard_store_product_path(product_id: @product), class: 'btn btn-success', remote: true %>
    </div>
</div>
