
<h3>Customer Information</h3>
<br>
<h3><%= customer.name %></h3>
<br>
<h4><%= customer.street_address %></h4>
<br>
<h4><%= customer.city %></h4>, <h4><%= customer.state %></h4> <h4><%= customer.zip_code %></h4>
<br>
<h4><%= customer.email %></h4>
<br>
<h4><%= customer.phone_number %></h4>


