<div class="container">
	<div class="col-md-5">
		<h2>Customer Information</h2>
		<h3><%= customer.name %></h3>
		<h4><%= customer.address_1 %></h4>
		<h4><%= customer.address_2 %></h4>
		<h4><%= customer.email %></h4>
		<h4><%= customer.phone_number %></h4>
	</div>
</div>

