<div class="main">
  <h2>Order Summary</h2>
  	<div class="container">
		<div class="col-md-3">
  			<%= render 'customer', customer: @order.customer %>
  		</div>

  		<div class="col-md-9">
  			<h2>Items Ordered</h2>
  			<table class="table table-striped">
  				<thead>
  					<tr>
  						<th>Item Name</th>
  						<th>Unit Price</th>
  						<th>Quantity</th>
  						<th>Total Price</th>
  					</tr>
  				</thead>

  				<tbody>
  					<% @order.order_lines.each do |order_line| %>
  					<tr> 
  						<td><%= link_to order_line.product.title, store_product_path %></td>
              <td>$<%= order_line.product.price_in_cents %></td>
              <td><%= order_line.quantity %></td>
              <td>$<%= order_line.total_price %></td>
  					</tr>
  					<% end %>

  				</tbody>
  			</table>

  		</div>
  	</div>

</div>