

<div class="container">
    <div class="well well-sm">
        <strong><h3>All Products</h3></strong>
    </div>
    <div id="products" class="row list-group">
    	<% @products.each_slice(3) do |products| %>
        <div class="col-xs-4 col-lg-4">
        	<% products.each do |product| %>
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= link_to product.title, store_product_path(id: product) %></h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                Price: $<%= product.price %></p>
                        </div>
                        <div class="col-xs-12 col-md-6">

                            <!-- need a button for the CREATE order_line action-->


                            <%= form_tag store_order_lines_path do %>
                            
                                <%= hidden_field_tag "order_line[product_id]", product.id %>
                                
                                <%= hidden_field_tag "order_line[order_id]", current_order ? current_order.id : Order.new.id %>

                                <%= hidden_field_tag "order_line[quantity]", 1 %>
                                <%= hidden_field_tag "order_line[price_in_cents]", product.price_in_cents %>
                                <%= submit_tag "Add to Cart" %>
                            <% end %> 

                        </div>
                    </div>
                </div>
            </div>
         	<% end %>
        </div>
        <% end %>
    </div>
</div>



