<div class="container">
    <div class="well well-sm">
        <strong><h3>All Products</h3></strong>
    </div>
    <div id="products" class="row list-group">
    	<% @products.each_slice(3) do |products| %>
        <div class="col-xs-4 col-lg-4">
        	<% products.each do |product| %>
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= link_to product.title, store_product_path(id: product) %></h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                Price: $<%= product.price %></p>
                        </div>
                        <div class="col-xs-12 col-md-6">

                            <%= form_tag store_order_lines_path do %>
                                <%= hidden_field_tag ":product_id", :value => product.id %>
                                <%= hidden_field_tag ":order_id", :value => session[:current_order_id] %>
                                <%= hidden_field_tag ":quantity", :value => 1 %>
                                <%= hidden_field_tag ":price", :value => product.price %>
                                
                                <%= submit_tag "Add to Cart" %>
                            <% end %> 

                        </div>
                    </div>
                </div>
            </div>
         	<% end %>
        </div>
        <% end %>
    </div>
</div>



