<script src="https://checkout.stripe.com/checkout.js"></script>

<div class="container">
<%= form_tag store_charges_path, id: 'stripeForm' do %>
  <h1>Place your Order</h1>
    <div class="col-md-6 row">
      <div class="form-group">
        <%= label_tag :full_name %>
        <%= text_field_tag :name, nil, class: "form-control" %> 
      </div>
      <div class="form-group">
        <%= label_tag :street_address %>
        <small class="form-text text-muted">Please enter your shipping address</small>
        <%= text_field_tag :street_address, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :city %>
        <%= text_field_tag :city, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :state %>
        <%= text_field_tag :state, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :zip_code %>
        <%= number_field_tag :zip_code, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :phone_number %>
        <%= telephone_field_tag :phone_number, nil, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, class: "form-control" %>
      </div>

   <article>
     <%= label_tag 'amount', 'Total Price', class: 'amount' %>
     <%= label_tag 'amount', "$#{current_order.subtotal}.00", class: "amount-figure" %>
   </article>

   <div class="row text-center">
     <button id="stripe-button">Place Order</button>
       <%= hidden_field_tag 'stripeToken' %>
       <%= hidden_field_tag 'stripeEmail' %>
       <%= hidden_field_tag 'stripeName' %>
       <%= hidden_field_tag 'stripeBillingAddress' %>
       <%= hidden_field_tag 'stripeShippingAddress' %>
       <%= hidden_field_tag 'stripeAmount' %>
   </div>
   
 
   <script>
     var handler = StripeCheckout.configure({
       key: "<%= Rails.configuration.stripe['publishable_key'] %>",
       token: function (token, args) {
         $("#stripeToken").value = token.id;
         $("#stripeEmail").value = token.email;
         $("#stripeName").value = <% current_store.name %>;
         $("#stripeBillingAddress").value = token.billingAddress;
         $("#stripeShippingAddress").value = token.shippingAddress; 
         $("#stripeAmount").value = <%= current_order.subtotal %>;
         $("#stripeForm").submit();
       }
     });
 
     $('#stripe-button').on('click', function (e) {
       // Open Checkout with further options
       handler.open({
         name: <%= current_store.name %>,
         description: 'Your description goes here',
         amount: <%= current_order.subtotal * 100 %>
       });
     e.preventDefault();
     });
 
     $(window).on('popstate', function() {
       handler.close();
     });
   </script>

 <% end %>

</div>



