<nav class="navbar navbar-default" role="navigation">
		<a class="navbar-brand" href="#"></a>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to 'Home', root_path %></li>
				
			</ul>

			<ul class="nav navbar-nav navbar-right">

			  		<% if current_user %>
				  		<li><%= link_to current_user.name, user_session_path(current_user) %></li>
				  		<li><%= link_to "Sign Out", destroy_user_session_path(current_user), method: :delete %></li>
			  		<% else %>
				  		<li><%= link_to 'Sign Up', new_user_registration_path %></li> 
				  		<li><%= link_to 'Sign In', user_session_path %></li>
				 	<% end %>
					 	
					 <div class="pull-left">
						<a class="btn btn-default" href=""><span class="glyphicon glyphicon-shopping-cart"></span>
				 		<% if current_order.present? %>
				 			<%= current_order.order_lines.count %> Items
				 		<% end %> 
					 	</a>
				</div>	
			 
			</ul>
		</div>


	
	




</nav>


