<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><%= link_to 'Home', root_path %></li>
			
			<% if current_store.present? %>
		 		<li><%= link_to "Shop Now", store_products_path(current_store.id) %></li>
		 	<% end %>
		</ul>
		<ul class="nav navbar-nav navbar-right">
	  		<% if current_user %>
		  		<li><%= link_to current_user.name, user_session_path(current_user) %></li>
		  		<li><%= link_to "Sign Out", destroy_user_session_path(current_user), method: :delete %></li>
	  		<% else %>
		  		<li><%= link_to 'Sign Up', new_user_registration_path %></li> 
		  		<li><%= link_to 'Sign In', user_session_path %></li>
		 	<% end %>
		 	<% if current_order.present? %>
			 	<li class="cart-text"><%= render partial: "layouts/cart_text" %></li>
			<% end %>
		</ul>
	</div>
</nav>


