<nav class="navbar navbar-default" role="navigation">
		

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to 'Home', root_path %></li>
				
			</ul>

			<ul class="nav navbar-nav navbar-right">

			  		<% if current_user %>
				  		<li><%= link_to current_user.name, user_session_path(current_user) %></li>
				  		<li><%= link_to "Sign Out", destroy_user_session_path(current_user), method: :delete %></li>
			  		<% else %>
				  		<li><%= link_to 'Sign Up', new_user_registration_path %></li> 
				  		<li><%= link_to 'Sign In', user_session_path %></li>
				 	<% end %>
					 	
					 <div class="pull-left">
					 	<% if current_order.present? %>
					 		


					 		<%= link_to store_order_path(@store.id, current_order.id), class: "btn btn-default" do  %>
								<span class="glyphicon glyphicon-shopping-cart"></span>
				 		 		<%= current_order.total_items %> Items
			 		 		<% end %>
		 		 		
				 		<% end %> 
					 
				</div>	
			 
			</ul>
		</div>

</nav>


