<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><%= link_to 'Home', root_path %></li>
			
			<% if @store.present? %>
		 		<li><%= link_to "Shop Now", store_products_path(@store.id) %></li>
		 	
		 	<% end %>
		</ul>
		<ul class="nav navbar-nav navbar-right">
	  		<% if current_user %>
		  		<li><%= link_to current_user.name, user_session_path(current_user) %></li>
		  		<li><%= link_to "Sign Out", destroy_user_session_path(current_user), method: :delete %></li>
	  		<% else %>
		  		<li><%= link_to 'Sign Up', new_user_registration_path %></li> 
		  		<li><%= link_to 'Sign In', user_session_path %></li>
		 	<% end %>

		 	

		 	<% if @current_order.present? %>

			 	<li class="cart-text"><%= link_to "#{@current_order.total_items} Items in Cart ( $ #{@current_order.subtotal} )", store_cart_path(@store.id), class: "btn btn-link" %></li>	 
			<% end %>
		</ul>
	</div>
</nav>


