<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-left">
			
			<% if current_store.present? %>
				<li><%= link_to 'Home', store_path(current_store.id) %></li>
		 		<li><%= link_to "Shop Now", store_products_path(current_store.id) %></li>
		 	<% else %>
		 		<li><%= link_to 'Home', root_path %></li>
		 	<% end %>
		 
		</ul>
		<ul class="nav navbar-nav navbar-right">
	  		<% if current_user.present? %>
	  			<li><%= image_tag current_user.avatar_url(36), class: "gravatar" %></li>
		  		<li><%= current_user.email %></li>
		  		<li><%= link_to "Sign Out", store_sign_out_path, method: :delete %></li>
	  		<% else %>
		  		<li><%= link_to 'Sign Up', store_sign_up_path %></li> 
		  		<li><%= link_to 'Sign In', store_sign_in_path %></li>
		 	<% end %>
		 	<% if current_order.present? %>
			 	<li class="cart-text"><%= render partial: "layouts/cart_text" %></li>
			<% end %>
		</ul>
	</div>
</nav>

